body{
    background-color: #C4C4C4 ;
}
/* este es el codigo que hace posible la animacion de boke */
  
.container {
    overflow: hidden;
    .slider {
      animation: slidein 20s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 0px 0;
        .fab {
          width: calc(100% / 4);
          animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .carusel {
    width: 60px;
    margin-right: 60px;
  }

  .logo-carrusel {
    margin-top: 25px;
    margin-bottom: 25px;
  }
